<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itqf.jtjxc.mapper.OutHourseMapper">
    <insert id="inserthourse">
INSERT INTO outhouse (t_id,p_name,out_number,outtime)VALUES(#{tId},#{pName},#{outNumber},#{outtime})
    </insert>
    <update id="updatehourse">
        UPDATE warehouse warehouse SET tnumber=tnumber-#{outNumber} WHERE p_name=#{pName}
    </update>
    <select id="queryAll" resultType="outHourse" >

SELECT * FROM outhouse
    </select>
    <select id="querybyid" resultType="outHourse">
SELECT * FROM outhouse where out_id=#{outId}
    </select>
    <update id="changed">
        update outhouse set p_name=#{pName},out_number=#{outNumber},outtime=#{outtime} where out_id=#{outId}
    </update>
    <delete id="delhis">
        delete  from outhouse where out_id=#{outId}
    </delete>

</mapper>